apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-slovenija
resources:
  - cronjob.yaml
images:
  - name: parlaparser-slovenija
    newName: rg.fr-par.scw.cloud/djnd/parlaparser-slovenija
    newTag: '309ba1c2d773fa3def76c7aa474ff84726e9107d'
