apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-slovenija
resources:
  - cronjob.yaml
images:
  - name: parlaparser-slovenija
    newName: rg.fr-par.scw.cloud/djnd/parlaparser-slovenija
    newTag: 'eef3b834a7cb53c93adb0cd17a8834827cb3bf1f'
